<table class="table table-striped text-center tableMain">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Lugar</th>
        <th scope="col">Monitor</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let actividad of listaActividades">
            <td>{{ actividad.fecha }}</td>
            <td>{{ actividad.lugar }}</td>
            <td>{{ actividad.monitor }}</td>
            <td>{{ actividad.tipo }}</td>
          </tr>
    </tbody>
</table>
    
  